%% -*- erlang -*-
{erl_opts, [{src_dirs, ["src"]}]}.
{deps, [
  {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", {tag, "0.14.4"}}},
  {ibrowse, ".*", {git, "git://github.com/cmullaparthi/ibrowse.git", {tag, "v4.2"}}}
]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
